PORT=8080
# ใน render อันนี้คือ internal dtb
DATABASE_URL=postgresql://shorturl:vbwmaanSRSsxH5rtGv8dhPQudCCgZNRU@dpg-dakckeek1f9s73cr2epg-a/shorturl_11jx
FRONTEND_ORIGIN=https://front-juno-shorturl-v1-0-0.onrender.com
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
